
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Aciliyet Tanımlama Ekranı";
}

<table class="table table-sm">
    <thead>
        <tr>
            
            <th scope="col">Tanım</th>
            <th scope="col">İşlem</th>
          
        </tr>
    </thead>
    <tbody>
        <tr>
          
            <td>Mark</td>
            <td>
                <a asp-action="Update" asp-controller="Priority" asp-area="Admin" asp-route-id=""></a>

            </td>
      
        </tr>
      
    </tbody>
</table>