@model KahramanYazilim.TaskManagement.Application.Requests.LoginRequest
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<html>
<head>

    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card p-5 mt-5 w-75 mx-auto shadow">
            <div class="text-center">
                <h5>Personel Yönetim Sistemi</h5>
                <p class="lead">
                    <i> Giriş Ekranı</i>
                </p>
            </div>

            <form action="/Account/Login" class="form-floating mt-3" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Username"  placeholder="">
                    <label for="username">Kullanıcı Adı</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" asp-for="Password" placeholder="">
                    <label for="password">Parola</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="@Model.RememberMe" asp-for="RememberMe" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">
                       Beni Hatırla
                    </label>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="submit">Giriş Yap</button>
                    <a class="btn btn-lg btn-info" href="#">Kayıt Ol</a>
                </div>

                <div asp-validation-summary="All" class="text-danger lead">

                </div>
            </form>
        </div>

      
    </div>

</body>
</html>
