@{
    Layout = null;
}
<html>
<head>

    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card p-5 mt-5 w-75 mx-auto shadow">
            <div class="text-center">
                <h5>Personel Yönetim Sistemi</h5>
                <p class="lead">
                    <i> Kayıt Ekranı</i>
                </p>
            </div>

            <form class="form-floating mt-3">


                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="">
                    <label for="name">Ad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="surname" placeholder="">
                    <label for="name">Soyad</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="">
                    <label for="username">Kulanıcı adı</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="">
                    <label for="password">Parola</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="">
                    <label for="password">Parola Tekrar</label>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="submit">Kayıt Ol</button>
                    <a class="btn btn-lg btn-info" href="#">Giriş Yap</a>
                </div>
            </form>
        </div>


    </div>

</body>
</html>
